# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints
*.pyc

# Ignore all local model, MLflow runs named mlruns and mlartifacts
**/local_models
mlruns/
**/mlruns/
mlartifacts/
**/mlartifacts/

# ignore hugging face locally saved models
/Hugging Face/Notebooks/models
/Hugging Face/Notebooks/results
